<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Images</key>
	<array>
		<dict>
			<key>title</key>
			<string>Anniversaries</string>
			<key>price</key>
			<string>1.99</string>
			<key>image</key>
			<string>anni.png</string>
			<key>purchase</key>
			<false/>
			<key>icon</key>
			<string>icon_anni.png</string>
			<key>product</key>
			<string>HC_ANNIVERSARIESF</string>
			<key>New item</key>
			<array>
				<string>pimage000.png</string>
				<string>pimage001.png</string>
				<string>pimage002.png</string>
				<string>pimage003.png</string>
				<string>pimage004.png</string>
				<string>pimage005.png</string>
				<string>pimage006.png</string>
				<string>pimage007.png</string>
				<string>pimage008.png</string>
				<string>pimage009.png</string>
				<string>pimage010.png</string>
				<string>pimage011.png</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Holidays</string>
			<key>price</key>
			<string>1.99</string>
			<key>image</key>
			<string>holi.png</string>
			<key>purchase</key>
			<false/>
			<key>icon</key>
			<string>icon_holiday.png</string>
			<key>product</key>
			<string>HC_HOLIDAYSF</string>
			<key>New item</key>
			<array>
				<string>pimage000.png</string>
				<string>pimage001.png</string>
				<string>pimage002.png</string>
				<string>pimage003.png</string>
				<string>pimage004.png</string>
				<string>pimage005.png</string>
				<string>pimage006.png</string>
				<string>pimage007.png</string>
				<string>pimage008.png</string>
				<string>pimage009.png</string>
				<string>pimage010.png</string>
				<string>pimage011.png</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Parties</string>
			<key>price</key>
			<string>1.99</string>
			<key>image</key>
			<string>part.png</string>
			<key>purchase</key>
			<false/>
			<key>icon</key>
			<string>icon_part.png</string>
			<key>product</key>
			<string>HC_PARTIESF</string>
			<key>New item</key>
			<array>
				<string>pimage000.png</string>
				<string>pimage001.png</string>
				<string>pimage002.png</string>
				<string>pimage003.png</string>
				<string>pimage004.png</string>
				<string>pimage005.png</string>
				<string>pimage006.png</string>
				<string>pimage007.png</string>
				<string>pimage008.png</string>
				<string>pimage009.png</string>
				<string>pimage010.png</string>
				<string>pimage011.png</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Events</string>
			<key>price</key>
			<string>1.99</string>
			<key>image</key>
			<string>event.png</string>
			<key>purchase</key>
			<false/>
			<key>icon</key>
			<string>icon_event.png</string>
			<key>product</key>
			<string>HC_EVENTSF</string>
			<key>New item</key>
			<array>
				<string>pimage000.png</string>
				<string>pimage001.png</string>
				<string>pimage002.png</string>
				<string>pimage003.png</string>
				<string>pimage004.png</string>
				<string>pimage005.png</string>
				<string>pimage006.png</string>
				<string>pimage007.png</string>
				<string>pimage008.png</string>
				<string>pimage009.png</string>
				<string>pimage010.png</string>
				<string>pimage011.png</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Celebrations</string>
			<key>price</key>
			<string>1.99</string>
			<key>image</key>
			<string>cele.png</string>
			<key>purchase</key>
			<false/>
			<key>icon</key>
			<string>icon_cele.png</string>
			<key>product</key>
			<string>HC_CELEBRATIONSF</string>
			<key>New item</key>
			<array>
				<string>pimage000.png</string>
				<string>pimage001.png</string>
				<string>pimage002.png</string>
				<string>pimage003.png</string>
				<string>pimage004.png</string>
				<string>pimage005.png</string>
				<string>pimage006.png</string>
				<string>pimage007.png</string>
				<string>pimage008.png</string>
				<string>pimage009.png</string>
				<string>pimage010.png</string>
				<string>pimage011.png</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Yearly</string>
			<key>price</key>
			<string>1.99</string>
			<key>image</key>
			<string>year.png</string>
			<key>purchase</key>
			<false/>
			<key>icon</key>
			<string>icon_year.png</string>
			<key>product</key>
			<string>HC_YEARLYF</string>
			<key>New item</key>
			<array>
				<string>pimage000.png</string>
				<string>pimage001.png</string>
				<string>pimage002.png</string>
				<string>pimage003.png</string>
				<string>pimage004.png</string>
				<string>pimage005.png</string>
				<string>pimage006.png</string>
				<string>pimage007.png</string>
				<string>pimage008.png</string>
				<string>pimage009.png</string>
				<string>pimage010.png</string>
				<string>pimage011.png</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Career</string>
			<key>price</key>
			<string>1.99</string>
			<key>image</key>
			<string>career.png</string>
			<key>purchase</key>
			<false/>
			<key>icon</key>
			<string>icon_career.png</string>
			<key>product</key>
			<string>HC_CAREERF</string>
			<key>New item</key>
			<array>
				<string>pimage000.png</string>
				<string>pimage001.png</string>
				<string>pimage002.png</string>
				<string>pimage003.png</string>
				<string>pimage004.png</string>
				<string>pimage005.png</string>
				<string>pimage006.png</string>
				<string>pimage007.png</string>
				<string>pimage008.png</string>
				<string>pimage009.png</string>
				<string>pimage010.png</string>
				<string>pimage011.png</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Personal</string>
			<key>price</key>
			<string>1.99</string>
			<key>image</key>
			<string>person.png</string>
			<key>purchase</key>
			<false/>
			<key>icon</key>
			<string>icon_person.png</string>
			<key>product</key>
			<string>HC_PERSONALF</string>
			<key>New item</key>
			<array>
				<string>pimage000.png</string>
				<string>pimage001.png</string>
				<string>pimage002.png</string>
				<string>pimage003.png</string>
				<string>pimage004.png</string>
				<string>pimage005.png</string>
				<string>pimage006.png</string>
				<string>pimage007.png</string>
				<string>pimage008.png</string>
				<string>pimage009.png</string>
				<string>pimage010.png</string>
				<string>pimage011.png</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
